<div>
  <input class="btn" id="inputImage" type="file" accept="image/*" (change)="onChange($event)" multiple />
</div>

<div class="container px-4">
  <b *ngIf="showTitle">Orjinal resimler</b>
  <div class="row gx-5">
    <div *ngFor="let item of processedImages">
      <div class="col">
        <div class="p-3 border bg-light">
          <img src="{{item.imageDataUrl}}" height="80" width="100">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container px-4">
  <b *ngIf="showTitle">Sıkıştırılan resimler</b>
  <div class="row gx-5">
    <div *ngFor="let item of processedImages">
      <div class="col">
        <div class="p-3 border bg-light">
          <img src="{{item.compressedImage.imageDataUrl}}" height="80" width="100">
        </div>
      </div>
    </div>
  </div>
</div>



